{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/add.css' %}" type = "text/css"/>
  <title>Add product</title>
  <meta name="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Add product" />
  <meta property="og:description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />

  <meta itemprop="name" content="Add product" />
  <meta itemprop="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />
{% endblock %}

{% block content %}
<div class="content">
  <div class="add-content">
    <div class="breadcrumbs">
      <a href="/">Home</a>-<a>Add product</a>
    </div>
    <header>
      <div class="line"></div>
      <h2>Add product</h2>
    </header>
    <form method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scriptin %}

<script src="/static/js/add.js"></script>
{% endblock %}
