{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/alldepartments.css' %}" type = "text/css"/>
{% endblock %}

{% block content %}


  <h1>All departments</h1>

  <!--Top products-->
  <div class="departments-content">
    {% for D in Departments %}
    <div class="department-row">
        <img src="{{ D.icon.url }}">
        <div class="line"></div>
        <a href="{% url 'category' pk=D.pk %}"><h2>{{ D.name }}</h2></a>
    </div>
    {% endfor %}
  </div>


{% endblock %}

{% block scriptin %}
<script>

</script>
{% endblock %}
