{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/alldepartments.css' %}" type = "text/css"/>
  <title>All Departments</title>
  <meta name="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="All Departments" />
  <meta property="og:description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />

  <meta itemprop="name" content="All Departments" />
  <meta itemprop="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />
{% endblock %}

{% block content %}

<div class="breadcontent">
  <div class="breadcrumbs">
    <a href="/">Home</a>-<a>All departments</a>
  </div>
</div>

  <h1>All departments</h1>

  <!--Top products-->
  <div class="departments-content">
    {% for D in Departments %}
    <div class="department-row">
        <img src="{{ D.icon.url }}">
        <div class="line"></div>
        <a href="{% url 'category' pk=D.pk filter='date' %}"><h2>{{ D.name }}</h2></a>
    </div>
    {% endfor %}
  </div>


{% endblock %}

{% block scriptin %}
<script>

</script>
{% endblock %}
