{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}" type = "text/css"/>
  <title>Company Info</title>
  <meta name="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Company Info" />
  <meta property="og:description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />

  <meta itemprop="name" content="Company Info" />
  <meta itemprop="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />
{% endblock %}

{% block content %}
<div class="breadcontent">
  <div class="breadcrumbs">
    <a href="/">Home</a>-<a>Contact</a>
  </div>
</div>

<header class="contact-header">
  <h1>Company Info</h1>
  <div class="line"></div>
</header>

  <!--contact content-->
  <div class="contact-content">

    <div class="contact-section">
      <h2>A BETTER WAY TO SELL AND BID ON SURPLUS!</h2>
      <p>Online-Auction is a convenient and easy-to-use online auction website for government agencies, schools,
        authorities and utilities to sell their surplus and forfeitures directly to the public.
        All auctions take place online and are available to bid 24 hours a day.</p>
    </div>


    <div class="contact-button">
      <a id="register" href="/register/">Register</a>
      <a id="login" href="/login/">Sing in</a>
    </div>

    <video width="320" height="240" controls>
      <source src="{% static 'video/movie.mp4' %}" type="video/mp4">
      <source src="{% static 'video/movie.ogg' %}" type="video/ogg">
      Your browser does not support the video tag.
    </video>


    <div class="contact-map">
      <h2>FIND US!</h2>
      <div id="map"></div>
    </div>

  </div>


{% endblock %}

{% block scriptin %}
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="/static/js/map.js"></script>


{% endblock %}
