{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" type = "text/css"/>
  <title>Home - Online Auction</title>
  <meta name="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Home - Online Auction" />
  <meta property="og:description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://annabelogorodtseva.pythonanywhere.com{% static 'img/logo.png' %}" />

  <meta itemprop="name" content="Home - Online Auction" />
  <meta itemprop="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://annabelogorodtseva.pythonanywhere.com{% static 'img/logo.png' %}" />
{% endblock %}

{% block content %}

<!--Slider-->
<div id="slider">
  <a href="#" class="control_next">&#187;</a>
  <a href="#" class="control_prev">&#171;</a>
  <ul>
    <li style="background-image:url({% static 'img/auction1.jpg' %})"></li>
    <li style="background-image:url({% static 'img/auction2.jpg' %})"></li>
    <li style="background-image:url({% static 'img/auction1.jpg' %})"></li>
    <li style="background-image:url({% static 'img/auction2.jpg' %})"></li>
  </ul>
</div>


<!--Top category-->
<div class="products-content">

<!--category top-->
  <div class="product-row">

<!--category header-->
    <header>
      {% for T in Top1 %}
      <img src="{{ T.icon.url }}">
      <div class="line"></div>
      <h2>{{ T.name }}</h2>
      <h3>We offer affordable used cars, trucks and vans – hybrids, 4X4s, dump trucks and more</h3>
      {% endfor %}
    </header>

<!--category products-->
    <div class="products-section">

      {% for P in Product1 %}
<!--Uno product section-->
      <div class="product-uno">

        <a href="{% url 'product' pk=P.pk %}">
          {% if P.photo %}
          <div class="product-image" style="background-image:url({{ P.photo.url }})">
          {% else %}
          <div class="product-image" style="background-image:url({% static 'img/nintendo.jpg' %})">
          {% endif %}
            <div class="product-price">
              <p>{{ P.price }}$</p>
            </div>
          </div>
        </a>
        <div class="product-detail">
          <div class="product-name">
            <a href="{% url 'product' pk=P.pk %}">{{P.name}}</a>
          </div>
          <div class="product-time">
            <p>Time finish | {{ P.datefinish }}</p>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>

    <div class="seemore-products">
      {% for T in Top1 %}
      <a href="{% url 'category' pk=T.pk filter='date' %}">See more in this category &#9658;&#9658;</a>
      {% endfor %}
    </div>

  </div>


<!--category top-->
  <div class="product-row">

<!--category header-->
    <header>
      {% for T in Top2 %}
      <img src="{{ T.icon.url }}">
      <div class="line"></div>
      <h2>{{ T.name }}</h2>
      <h3>We offer affordable used cars, trucks and vans – hybrids, 4X4s, dump trucks and more</h3>
      {% endfor %}
    </header>

<!--category products-->
    <div class="products-section">

      {% for P in Product2 %}
<!--Uno product section-->
      <div class="product-uno">

        <a href="{% url 'product' pk=P.pk %}">
          {% if P.photo %}
          <div class="product-image" style="background-image:url({{ P.photo.url }})">
          {% else %}
          <div class="product-image" style="background-image:url({% static 'img/nintendo.jpg' %})">
          {% endif %}
            <div class="product-price">
              <p>{{ P.price }}$</p>
            </div>
          </div>
        </a>
        <div class="product-detail">
          <div class="product-name">
            <a href="{% url 'product' pk=P.pk %}">{{P.name}}</a>
          </div>
          <div class="product-time">
            <p>Time finish | {{ P.datefinish }}</p>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>

    <div class="seemore-products">
      {% for T in Top2 %}
      <a href="{% url 'category' pk=T.pk filter='date' %}">See more in this category &#9658;&#9658;</a>
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}

{% block scriptin %}

<script src="/static/js/home.js"></script>

{% endblock %}
