{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}" type = "text/css"/>
  <title>News - Online Auction</title>
  <meta name="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="News - Online Auction" />
  <meta property="og:description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />

  <meta itemprop="name" content="News - Online Auction" />
  <meta itemprop="description" content="Online Auctions starting at only $1!  Free to bid on automobiles, jewelry, watches, iphones, coins, fine art, electronics, bikes, collectibles, and more!" />
  <meta property="og:image" content="http://127.0.0.1:8000{% static 'img/logo.png' %}" />
{% endblock %}

{% block content %}
<div class="breadcontent">
  <div class="breadcrumbs">
    <a href="/">Home</a>-<a>News</a>
  </div>
</div>

<header class="news-header">
  <h1>News</h1>
  <div class="line"></div>
</header>

  <!--Top products-->
  <div class="news-content">
    <div id="1" class="news-article">
      <img src="{% static 'img/news1.jpg' %}">
      <header>
        <h2>Average Brit spends nine months of their life bargain hunting, study finds</h2>
        <h3>Adults typically invest two hours a week in search of discounts</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="2" class="news-article">
      <img src="{% static 'img/news1.jpg' %}">
      <header>
        <h2>Average Brit spends nine months of their life bargain hunting, study finds</h2>
        <h3>Adults typically invest two hours a week in search of discounts</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="3" class="news-article">
      <img src="{% static 'img/news1.jpg' %}">
      <header>
        <h2>Average Brit spends nine months of their life bargain hunting, study finds</h2>
        <h3>Adults typically invest two hours a week in search of discounts</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="4" class="news-article">
      <img src="{% static 'img/news1.jpg' %}">
      <header>
        <h2>Average Brit spends nine months of their life bargain hunting, study finds</h2>
        <h3>Adults typically invest two hours a week in search of discounts</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="5" class="news-article not-visible">
      <img src="{% static 'img/news2.jpg' %}">
      <header>
        <h2>Why you should be investing in whisky</h2>
        <h3>UK auction sales of rare whisky rose by 35 per cent in the first half of this year, according to data released by Rare Whisky 101</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="6" class="news-article not-visible">
      <img src="{% static 'img/news2.jpg' %}">
      <header>
        <h2>Why you should be investing in whisky</h2>
        <h3>UK auction sales of rare whisky rose by 35 per cent in the first half of this year, according to data released by Rare Whisky 101</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="7" class="news-article not-visible">
      <img src="{% static 'img/news2.jpg' %}">
      <header>
        <h2>Why you should be investing in whisky</h2>
        <h3>UK auction sales of rare whisky rose by 35 per cent in the first half of this year, according to data released by Rare Whisky 101</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="8" class="news-article not-visible">
      <img src="{% static 'img/news2.jpg' %}">
      <header>
        <h2>Why you should be investing in whisky</h2>
        <h3>UK auction sales of rare whisky rose by 35 per cent in the first half of this year, according to data released by Rare Whisky 101</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="9" class="news-article not-visible">
      <img src="{% static 'img/news3.jpg' %}">
      <header>
        <h2>Number of million-pound home sales falls in London</h2>
        <h3>While prime property sales in the North West of England and Yorkshire were up year-on-year</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="10" class="news-article not-visible">
      <img src="{% static 'img/news3.jpg' %}">
      <header>
        <h2>Number of million-pound home sales falls in London</h2>
        <h3>While prime property sales in the North West of England and Yorkshire were up year-on-year</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="11" class="news-article not-visible">
      <img src="{% static 'img/news3.jpg' %}">
      <header>
        <h2>Number of million-pound home sales falls in London</h2>
        <h3>While prime property sales in the North West of England and Yorkshire were up year-on-year</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="12" class="news-article not-visible">
      <img src="{% static 'img/news3.jpg' %}">
      <header>
        <h2>Number of million-pound home sales falls in London</h2>
        <h3>While prime property sales in the North West of England and Yorkshire were up year-on-year</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="13" class="news-article not-visible">
      <img src="{% static 'img/news1.jpg' %}">
      <header>
        <h2>Average Brit spends nine months of their life bargain hunting, study finds</h2>
        <h3>Adults typically invest two hours a week in search of discounts</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="14" class="news-article not-visible">
      <img src="{% static 'img/news2.jpg' %}">
      <header>
        <h2>Why you should be investing in whisky</h2>
        <h3>UK auction sales of rare whisky rose by 35 per cent in the first half of this year, according to data released by Rare Whisky 101</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="15" class="news-article not-visible">
      <img src="{% static 'img/news3.jpg' %}">
      <header>
        <h2>Number of million-pound home sales falls in London</h2>
        <h3>While prime property sales in the North West of England and Yorkshire were up year-on-year</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>
    <div id="16" class="news-article not-visible">
      <img src="{% static 'img/news3.jpg' %}">
      <header>
        <h2>Number of million-pound home sales falls in London</h2>
        <h3>While prime property sales in the North West of England and Yorkshire were up year-on-year</h3>
      </header>
      <div class="news-detail">
        <h4>more</h4>
        <p>The average Brit spends the equivalent of almost nine months of their life bargain-hunting - saving more than £6,200 year, a study has found.</p>
        <p>Adults typically spend two hours-a-week searching for a good deal or cut price items - the equivalent of around four days and eight hours in total over the average year.</p>
        <p>Bargain hunters estimate they save £6,247.93 annually through a combination of auctions, discount vouchers, price comparison sites, regular visits to the supermarket reduced aisle and more.</p>
        <p>Eager for a great deal, one fifth have adopted an 'early bird catches the worm' mentality and queued in the early hours so they can nab the best bargains before anyone else.</p>
      </div>
      <div class="line"></div>
    </div>


    <input type="button" id="first" onclick="firstPage()" value="first" />
    <input type="button" id="next" onclick="nextPage()" value="next" />
    <input type="button" id="previous" onclick="previousPage()" value="previous" />
    <input type="button" id="last" onclick="lastPage()" value="last" />

  </div>


{% endblock %}

{% block scriptin %}
  <script src="/static/js/news.js"></script>

{% endblock %}
