{% extends "index.html" %}
{% load staticfiles %}

{% block headin %}
  <link rel="stylesheet" href="{% static 'css/category.css' %}" type = "text/css"/>
  <title>Search results</title>
  <meta name="description" content="Search results"/>

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Search results" />
  <meta property="og:description" content="Search results" />
  <meta itemprop="name" content="Search results" />
  <meta itemprop="description" content="Search results" />
{% endblock %}

{% block content %}

<!--Top products-->
<div class="products-content">

  <!--Category top-->
  <div class="product-row">
    <div class="breadcrumbs">
      <a href="/">Home</a>-<a>Search results for {{Search}}</a>
    </div>
    <!--Category header-->
    <header>
      <div class="line"></div>
      <h2>Search results for {{Search}}</h2>
    </header>

    {% if Products %}
    <!--Category products-->
    <div class="products-section">
      {% for P in Products %}
      <!--Uno product section-->
      <div class="product-uno">
        <a href="{% url 'product' pk=P.pk %}">
        <div class="product-image" style="background-image:url({{ P.photo.url }});">
          <div class="product-price">
            <p>{{ P.price }}</p>
          </div>
        </div></a>
        <div class="product-detail">
          <div class="product-name">
            <a href="{% url 'product' pk=P.pk %}"> {{ P.name }}</a>
          </div>
          <div class="product-time">
            <p>Time left | {{ P.datefinish }}</p>
          </div>
        </div>
      </div>
      {% endfor %}


      <div class="pagination">
         <span class="step-links">
             {% if Products.has_previous %}
                 <a href="?page={{ Products.previous_page_number }}">назад</a>
             {% endif %}

             <span class="current">
                 страница {{ Products.number }} из {{ Products.paginator.num_pages }}
             </span>

             {% if Products.has_next %}
                 <a href="?page={{ Products.next_page_number }}">вперед</a>
             {% endif %}
         </span>
      </div>

      {% else %}
        <h2>Nothing</h2>
      {% endif %}



    </div>



  </div>
</div>

{% endblock %}

{% block scriptin %}
{% endblock %}
